[submodule "blockchain-gateway"]
	path = blockchain-gateway
	url = git@gitlab.com:bonum/blockchain/blockchain-gateway.git
[submodule "transactions"]
	path = transactions
	url = git@gitlab.com:bonum/blockchain/transactions.git
